<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>TTS - <%=districtInfo.district.district_name%></title>
  </head>
  <body data-page="district.html">
    <header class="module-site-header state-bg-black">
      <div class="layout-container">
        <nav class="layout-flex module-space-between">
          <div>
            <a
              class="state-font-white state-text-bold state-links-hover"
              href="/"
              ><span>Texas Teacher Salaries</span></a
            >
          </div>

          <button
            class="mobile-nav-toggle"
            aria-controls="primary-navigation"
            aria-expanded="false"
          >
            <span></span>
          </button>

          <ul
            id="primary-navigation"
            data-visible="false"
            class="layout-flex primary-navigation module-gap"
          >
            <li>
              <a class="state-font-white state-links-hover" href="/austin"
                ><span>Austin Metro</span></a
              >
            </li>
            <li>
              <a class="state-font-white state-links-hover" href="/dallas"
                ><span>Dallas Metro</span></a
              >
            </li>
            <li>
              <a class="state-font-white state-links-hover" href="/houston"
                ><span>Houston Metro</span></a
              >
            </li>
            <li>
              <a class="state-font-white state-links-hover" href="/san-antonio"
                ><span>San Antonio Metro</span></a
              >
            </li>
            <li>
              <a class="state-font-white state-links-hover" href="purpose.html"
                ><span>Our Purpose</span></a
              >
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <section class="module-section-spacing">
        <div class="layout-container layout-flex module-space-between">
          <aside>
            <div class="module-district-information">
              <h6>District Name: <%=districtInfo.district.district_name%></h6>
              <% console.log('Name of District: '
              +districtInfo.district.district_name)%>
              <h6>City: <%=districtInfo.district.city%></h6>
              <h6>
                Superintendent: <%=districtInfo.district.superintendent_name%>
              </h6>
              <h6>
                Superintendent Telephone:
                <%=districtInfo.district.superintendent_telephone%>
              </h6>
              <h6>
                Superintendent Twitter:
                <%=districtInfo.district.superintendent_twitter%>
              </h6>
              <h6>
                Board Telephone:
                <%=districtInfo.district.board_of_education_telephone%>
              </h6>
              <h6>
                Board Email: <%=districtInfo.district.board_of_education_email%>
              </h6>
              <h6>
                Board of Trustees: <span>See members <a href="<%=districtInfo.district.board_of_education_trustees%>">here</a>
              </h6>
            </div>
          </aside>
          <section class="layout-table">
            <!-- Creates the table with the columns determined by years of experience + salary by degree type -->
            <!-- If 2022-2023 salary data exists, then add the table and rows/cells to match the data for the applicable school district -->
            <% currentSchoolYear = districtInfo.district.school_year[1]['2022-2023'] %>
            <% yearsOfExperience = currentSchoolYear.yoe %>
            <% console.log('YOE: ' + yearsOfExperience) %>

            <% if (yearsOfExperience){ %>
              <% numberOfDegrees = Object.keys(yearsOfExperience[0]['0']).length %>
              <% numberOfYears = Object.keys(yearsOfExperience).length %>
              <% tableHeaders = ['Years of Experience', 'Bachelor', 'Master', 'Doctorate'] %>
              <!--<% console.log('numberOfDegrees: '
              +numberOfDegrees)%>
              <% console.log('numberOfYears: '
              +numberOfYears)%>-->
              <table>
               <% for (let i = 0; i < numberOfDegrees + 1; i++) {%>
                <tr><th><%=tableHeaders[i]%></th></tr>
              <%}%>
              </table>         
            <% } %>
          </section>
          <section>
            <div>
              <h5>Salary Table Links</h5>
              <!-- Create variables for the two compensation plans and conditionals that provide the links to the plans if available -->
              <% compensationPlan2022 = districtInfo.district.school_year[1]['2022-2023'].compensation_plan %>
              <% compensationPlan2021 = districtInfo.district.school_year[0]['2021-2022'].compensation_plan %>
              <% if (compensationPlan2022){%>
                <p><a href="<%=compensationPlan2022%>">School Year 2022-2023</a></p>
              <%} else { %> 
                <p>School Year 2022-2023 - Unavailable</p>
              <%} %>
              <% console.log('Compensation Plan: '
              +compensationPlan2022)%>
              <% if (!compensationPlan2021 === 'No longer available.'){%>
                <p><a href="<%=compensationPlan2021%>">School Year 2021-2022</a></p>
              <%} else { %> 
                <p>School Year 2021-2022 - Unavailable</p>
              <%} %>
            </div>
          </section>
        </div>
      </section>
    </main>
    <footer>
      <div class="module-section-spacing">
        <div class="layout-container layout-footer">
          <div class="module-footer-text">
            <p class="module-footer-paragraph">
              Have suggestions or questions?
            </p>
            <p>send them and we will get back to you as soon as possible!</p>
          </div>
          <div>
            <a
              class="module-email-button state-font-white state-text-bold"
              href="mailto:mreyna12@live.com"
              >Contact Us</a
            >
          </div>
        </div>
      </div>
    </footer>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
